body{
    width:90%;
    margin: 0 auto;
    max-width: 800px;
    color: #616161;
}
h1{
    
    border-bottom: 2px solid darkgray;
    text-align: center;
    padding:20px;
    margin-bottom:20px;  
    margin-top:0;
}

svg{
    max-height:450px;
    max-width:100%;
    border-bottom: 2px solid darkgray;
    padding-bottom:20px;    
}

#colorPicker{
    margin-top:20px;
    text-align: center;
    
}

#randomSection{
    margin-top:20px;
    text-align: right;
}

#colorPicker :last-child{
    margin-top:10px;
}

section{
    display:flex;
    justify-content: space-between;
}
